.container__big-card {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 1rem;
  border-bottom: 1px solid #464646;
}

.img-containter {
  position: relative;
}

.img-containter > img {
  max-width: 100%;
  object-fit: contain;
}

.container__big-card span {
  font-size: .8rem;
  color: #313131;
}

.container__big-card > h2 > a {
  color: #e0e0e0;
  font-size: 2rem;
}

.container__big-card p {
  text-align: justify;
}
