.container__smal-card {
  display: grid;
  grid-template-columns: 1fr .7fr;
  padding: 2rem 0;
  gap: .5rem;
  border-bottom: 1px solid #464646;
}

.img-container {
  margin: auto;
  position: relative;
}

.img-container > img {
  max-width: 100%;
  object-fit: contain;
}

.texts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
}

.texts > span {
  font-size: .8rem;
  color: #313131;
}

.texts > h2 a {
  color: #e0e0e0;
  font-size: 1rem;
}
