@media screen and (min-width: 576px) {
  .texts>span {
    font-size: 1rem;
  }

  .texts>h2 a {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .container__smal-card {
    grid-template-columns: .5fr 1fr;
    padding: 1.5rem 0;
  }

  .texts > span {
    font-size: .8rem;
  }

  .texts>h2 a {
    font-size: 1.2rem;
  }

  .container__smal-card div:nth-child(1) {
    order: 2;
  }

  .container__smal-card div:nth-child(2) {
    order: 1;
  }
}
