/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: grey;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

@media screen and (min-width: 576px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 992px;
    margin: auto;
  }
}
